p
{ 
	color: green;
        font-size: 20px;
        text-align: center;
}

#first-paragraph 
{
	font-family: helvetica, san-serif;		
	font-size: 16px;
	color: blue; 
}
.hidden-links
{
	text-decoration: none;
	color: #536482;		/* This is a comment, and this color is a greyish-blue */
}
